@model RelaywareBuddyData.Models.CustomerAccess

<div ng-controller="createCustomerAccessViewController" class="partial-content">

    @Html.AntiForgeryToken()

    <h4 class="text-center"><a ng-click="displayForm()">Add Customer Access Account</a></h4> 

    <form id="createCAForm" name="createCAForm" class="col-md-12 form-horizontal no-display">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label">Customer *</label>
            <input id="createCAForm-customer" ng-model="caCustomer" name="customer" type="text" class="form-control" required />
        </div>

        <div class="form-group">
            <label class="control-label">IP Address *</label>
            <input id="createCAForm-ipaddress" ng-model="caIPAdress" name="ipaddress" type="text" class="form-control" required />
        </div>

        <div class="form-group">
            <label class="control-label">Password *</label>
            <input id="createCAForm-password" ng-model="ngPassword" name="password" type="text" class="form-control" required />
        </div>

        <div class="form-group">
            <label class="control-label">Access Type</label>
            <select class="form-control" name="accesstype">
                <option value="File Access">File Access</option>
                <option value="Database Access">Database Access</option>
            </select>
        </div>

        <div class="form-group">
            <p ng-show="createCAForm.$invalid">Please fill in the required fields (*)</p>
            <button ng-show="createCAForm.$valid" type="button" ng-click="addCustomerAccess()" class="btn btn-default">Add Customer Access Record</button>
        </div>
    </form>

</div>