@model IEnumerable<RelaywareBuddyData.Models.CustomerAccess>

<div ng-controller="viewCustomerAccessController" class="partial-content">

    <h2>Customer Access</h2>

    <div class="row">

        <div class="col-md-3">
            <h3>Customer</h3>
        </div>

        <div class="col-md-3">
            <h3>IP Address</h3>
        </div>

        <div class="col-md-3">
            <h3>Password</h3>
        </div>

        <div class="col-md-3">
            <h3>Access Type</h3>
        </div>

    </div>

    <div id="customer-access-list">

        <div ng-repeat="customerAccess in CustomerAccessData" class="row">

            <div class="col-md-3">
                <p ng-bind="customerAccess.Customer"></p>
            </div>

            <div class="col-md-3">
                <p ng-bind="customerAccess.IPAddress"></p>
            </div>

            <div class="col-md-3">
                <p ng-bind="customerAccess.Password"></p>
            </div>

            <div class="col-md-3">
                <p ng-bind="customerAccess.AccessType"></p>
            </div>

        </div>
    </div>

</div>


<hr />