@model IEnumerable<RelaywareBuddyData.Models.CustomerAccess>

<h2>Customer Access</h2>

<hr />

@*@if(Model.Any() == false)
{
    <p>No Customer Database Access yet..</p>
}
else
{*@
    <div class="col-md-12" ng-repeat="customerAccess in CustomerAccessData">

        <p ng-model="customerAccess.Customer"></p>

    </div>
@*}*@


<hr />